.phone-input {
    position: relative;
    width: 100%;
    max-width: 320px;
    font-family: Arial, sans-serif;
}

.phone-input .form-control {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.phone-input .flag-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.phone-input .flag-dropdown .flag {
    width: 20px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 6px;
  
}


.phone-input .country-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 320px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    border-radius: 4px;
}


.phone-input .country-list .country {
    padding: 6px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    gap: 8px;

    color: #000000 !important;

}


.phone-input .country-list .country:hover {
    background-color: #e6f2ff;
    color: #007BFF !important;

}


.phone-input .country-list .flag {
    width: 20px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 6px;
}

.phone-input .country-list .country .country-name,
.phone-input .country-list .country .dial-code {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.2;
}


.phone-input .country-list .country .dial-code {
    margin-left: auto;
    color: #651010;
    font-weight: 500;
}


.react-tel-input .selected-flag {
    padding-right: 5px !important;
}

.react-tel-input .selected-flag .flag {
    margin-right: 5px !important;
}


.react-tel-input input {
    padding-left: 48px !important;
}